<aside id="chat-section">
    <template id="chat-message-template">
        <li class="chat-message">
            <span class="content"></span>
        </li>
    </template>

    <ul id="messages"></ul>
    <form action="/chat/<%= roomId %>" method="post">
        <input
                id="chat-message"
                autocomplete="off"
                class="border border-black rounded px-2 py-1"
        />
        <button class="bg-black text-white px-4 py-2 rounded">Send</button>
    </form>
</aside>
