<html lang="">
<head>
    <title></title>
</head>
<body>
<h1><%= title %></h1>

<ul>
    <li><a href="/auth/login">Login</a></li>
    <li><a href="/auth/registration">Register</a></li>
    <li><a href="/auth/lobby">Lobby</a></li>
    <li><a href="/auth/games">Games</a></li>
</ul>
<script src="/js/main.js"></script>
</body>
</html>