<html lang="">
    <head>
        <title></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <p>
            Multiplayer Uno
        </p>

        <ul>
            <% if (user) { %>
                <li><a href="/lobby">Lobby</a></li>
                <li><a href="/auth/logout">Logout</a></li>
            <% } else { %>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/register">Sign Up</a></li>
            <% } %>
        </ul>
        
        <script src="/js/main.js"></script>
    </body>
</html>