<html lang="">
    <head>
        <title></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <p>
            This is a simple exfffample of a Node.js application using Express.js and EJs.
        </p>
        <script src="/js/main.js"></script>
    </body>
</html>