<html lang="">
    <head>
        <title></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <p>
            Online Uno
        </p>

        <ul>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/register">Register</a></li>
            <li><a href="/lobby">Lobby</a></li>
            <li><a href="/games/1">Games</a></li>
        </ul>
        <script src="/js/main.js"></script>
    </body>
</html>