<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/games.css">
</head>
<body>
<%- include('./header') %>
<%- content %>
<%- include('../partials/footer') %>
</body>
</html>
