<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title %></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/styles/games.css">
</head>
<body class="bg-gray-100 text-gray-800 min-h-screen">
<!-- Header -->
<%- include('./header', { gameId, gameState, user }) %>

<!-- Main Content -->
<main class="mt-6 px-8">
    <%- content %>
</main>

<!-- Footer -->
<%- include('../partials/footer') %>
</body>
</html>