<div>
    <h2 class="font-bold">Other Players:</h2>
    <div style="display: flex; justify-content: center; gap: 16px;">
        <% for (let i = 0; i < gameState.players.length; i++) { %>
            <% if (gameState.players[i].id !== currentPlayerId) { %>
                <div>
                    <p>
                        <%= gameState.players[i].username %>
                        (<%= gameState.players[i].hand.length %> cards)
                    </p>
                </div>
            <% } %>
        <% } %>
    </div>
</div>